<div class="header-container">
    <Header class="header">
      <div>
        <a href="#"
          ><img src="./assets/images/logo.png" class="logo" alt="Logo"
        /></a>
      </div>
  
      <input
        type="search"
        placeholder="What you are looking for"
        class="search"
      />
  
      <ul class="icons">
        <li>
          <a> <button class="language" (click)="toggleLanguage()"><i>en</i> </button></a>
        </li>
        <li>
          <a href="#"><i class="fa-regular fa-user"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-regular fa-heart"></i></a>
        </li>
        <li class="cart-num">
          <a href="#"><i class="fa fa-cart-plus"></i>
            <span>{{productCount}}</span>
          </a>
        </li>
      </ul>
    </Header>
  </div>
  
  <div class="line"></div>
  
  <div class="header-container">
    <!-- Nav links -->
    <nav class="navbar">
      <button class="navbar-toggler">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-menu">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle">
            <i class="fa fa-caret-down"></i>
            Dropdown</a
          >
          <ul class="dropdown-menu">
            <li><a href="#">Submenu 1</a></li>
            <li><a href="#">Submenu 2</a></li>
            <li><a href="#">Submenu 3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-line">Nalink</a>
        </li>
      </ul>
    </nav>
  </div>